conf/zsh_custom/plugins/*
ansible/roles/configuration/vars/local/*
conf/PyCharm/config/pycharm.key
conf/PyCharm/config/options/dimensions.xml
conf/PyCharm/config/options/jdk.table.xml
conf/PyCharm/config/options/proxy.settings.pwd
conf/PyCharm/config/options/recentProjectDirectories.xml
conf/PyCharm/config/options/statistics.application.usages.xml
conf/PyCharm/config/port
conf/PyCharm/config/options/options.xml
conf/PyCharm/config/plugins/*
conf/PyCharm/config/options/packages.xml
conf/PyCharm/config/options/feature.usage.statistics.xml
conf/PyCharm/config/extensions/*
conf/PyCharm/config/options/extensionsRootType.xml
conf/PyCharm/config/options/packages.xml
conf/PyCharm/config/options/plugin_ui.xml
conf/PyCharm/config/options/window.manager.xml
conf/PyCharm/config/options/proxy.settings.pwd
conf/PyCharm/config/options/other.xml
conf/PyCharm/config/options/disabled_plugins.txt
conf/PyCharm/config/options/find.xml
conf/PyCharm/config/eval/*
conf/PyCharm/config/port.lock
conf/PyCharm/config/options/path.macros.xml
conf/PyCharm/config/options/updates.xml