[Unit]
Description=Parcellite clipboard manager

[Service]
Type=simple
ExecStart=/usr/bin/env parcellite -n
Restart=always
RestartSec=60

#NOT WORKING