bin/*
options/actionSummary.xml
options/features.usage.statistics.xml
options/ide-features-trainer.xml
options/pluginAdvertiser.xml
options/profilerRunConfigurations.xml
options/recentProjects.xml
options/window.state.xml
tools/*
workspace/*