- name: "Install packages with Homebrew"
  community.general.homebrew:
    state: present
    name:
    - awscli
    - direnv
    - emacs
    - gpg
    - htop
    - httpie
    - iterm2
    - jq
    - maccy
    - node
    - ripgrep
    - tig
    - tree
    - wget
    - zsh

- name: "npm install"
  npm:
    name: "{{ item }}"
    global: yes
  with_items:
    - git-standup
    - emoj
    - "@bitwarden/cli"
 #   - tiny-care-terminal Not working on latest Node version

- name: "Install pyenv"
  shell: curl https://pyenv.run | bash
  args:
    creates: ~/.pyenv

