[core]
	excludesfile = ~/.gitignore_global
	pager = cat
[user]
  email = {{ user_email }}
  signingkey = {{ signingkey }}
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[mergetool]
	keepBackup = false
[push]
	default = simple
[rebase]
	autosquash = true
[pull]
	ff = only
[gpg]
	program = gpg
[commit]
	gpgsign = true
