[core]
	excludesfile = ~/.gitignore_global
	pager = cat
[user]
  email = {{ user_email }}
  signingkey = {{ user_signingkey }}
[mergetool]
	keepBackup = false
[push]
	default = simple
[rebase]
	autosquash = true
[pull]
	ff = only
[gpg]
	program = gpg
[commit]
	gpgsign = true
